.body{
    background-color: #E9EBEE;
    height: 1080px;
}
.box{
     //color: red;
    //  display: 'flex';
    // align-items: center;
    // justify-content: 'center';
    //margin:0 auto;
    border-style: solid;
    border-width: 2px;
    direction: rtl;
    text-align: right;
    
}

.box_header{
    height:2rem;
    display: 'flex';
    width:100%;
    color:white;
    background-color:#4267B2;
    // border-style: solid;
    // border-color: black;
}
.box_body{
    background-color: #FFFFFF;
    //margin: -1rem  -1rem -1rem auto;
    height: 100%;
    //  border-style: solid;
    //  border-color: black;
}
.box_center{
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
}
.box_img{
    padding: 5px;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border-style: solid;
    border-color:gray;
    border-width: 1px;
    margin-top: 15%;
}

.headers{
    font-weight: 600;
    font-size:120%;

}